.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 700px 20px 50px;
  background-color: lightblue;
}

.links {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.navbar a:hover {
  color: red;
}

.header-format {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: aqua;
}

h3 {
  color: crimson;
}
